.body {
    background-color: rgb(31, 30, 30);
    margin: 0px;
    padding: 10px;
}

.fotoportada {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #CBB26A;
    align-items: center;
    
}

.logo{
    padding: 10px;
    display: flex;
    width: 100%;
    height: 50px;
}

.logofooter{
    padding: 10px;
    display: flex;
    width: 300px;
    height: 50px;
    justify-content: center;

}

.principio {
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 text-decoration: none;
}

.ban {
    width: 100%;
}


.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

.navegador {
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

.pp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.mp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.lqv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    list-style: none;
    padding: 0px;
    justify-content: center;
}

.imgpp {
    width: 350px;
    height: 400px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.imgpeliserie {
    width: 350px;
    height: 400px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #CBB26A;
    margin: 20px;
  
}

.p {
    color:#CBB26A;
    
}

.b {
    color: white;
}

.nombres{
    background-color: #CBB26A;
    display: flex;
    justify-content: center;
}

.generos{
    color: white;
}

.tiposdegen {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #CBB26A;
    margin: 10px;
    padding: 10px;
    width: 45%;
    height: 50px;
    
}

.generospys{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;

  }

.tiposdegen:hover{
    background-color: aliceblue;
}

.gentitulo{
    font-size: 40px;
    justify-content: center;
    display: flex;
    flex-direction: row;

}

.estreno{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    color: #CBB26A;
    margin-right: 0px;
}

.fav:hover{
    background-color: #CBB26A;
}

.detalle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;   
    margin-left: 100px;
    margin-right: 100px;
    
}
    
.videodetalle{
    display: flex;
    justify-content: flex-end;
    width: 600px;
    height: 400px;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #CBB26A;
    margin: 20px;
 
}


.informacion{
    color: #CBB26A;
    display: flex;
    margin-left: 160px;
    flex-wrap: wrap;
    margin-right: 160px;
    justify-content: flex-end;
    align-items: center;
}


.nombreye {
    color:#CBB26A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.b:hover{
color: #CBB26A;
}

.blanco{
    color: white;
}

.borde{
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #CBB26A;
    margin: 20px;
}

.bordefotos{
        width: 350px;
        height: 400px;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
        border-style: solid;
        border-width: 5px;
        border-color: #CBB26A;
        margin: 20px;
      
    }

.bordefotos:hover{
        border-color: white;
    }

.borde:hover{
    border-color: white;
}

.titulodetalle{
    color: #CBB26A;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.colortitulo{
    color: #CBB26A;
}

.oculto{
    display: none;
}

/* telefonos */
@media(max-width: 420px) {
    * {
        box-sizing: border-box;
    }
    .heather.heather {
        height: 200px;
    }

    .head{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .main{
        padding: 0px;
    }

    .peliculasp {
        height: max-content;
        justify-content: center;
        margin: 20px;
    }


    .pp {
        margin-bottom: 20px;
        justify-content: center;
    }

    .imgpp{
        width: 320px;
        padding: 9px 5px;
    }

    .body {
        padding: 0px 0px;
        margin: 0px;
    }

    .principio {
        display: flex;
        justify-content: space-between;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 10px;
        padding: 10px;
        
    }
    
    .navegador {
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
   
    }

    .ban{
        justify-content: center;
        padding: 5px;
    }

    .logo{
        width: 100%;
        height: 50px;
    }

    .nombres {
        background-color: (rgb(200, 0, 0));
        text-align: center;
        padding: 20px 10px;
        height: 60px;
        width: 390px;
    }

    .footer {
        display: flex;
        justify-content: center;
    }


   .blanco{
        justify-content: center;
        align-items: center;
        display: flex;
    
   }


    .bordefotos{
        justify-content: center;
    }

    .tiposdegen{
        margin: 5px;
    }

    .gentitulo{
        background-color: #CBB26A;
        color: black;
    }

   .estreno{
        margin-right: 32px;
   }

    .informacion{
        margin-left: 32px;
        margin-right: 50px;
        justify-content: center;
    }

    .p{
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .estreno2{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        color: #CBB26A;
        margin-right: 0px;
    }
}
