.body {
    background-color: rgb(31, 30, 30);
    margin: 0px;
    padding: 10px;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #CBB26A;
    align-items: center;
    
}

.logo{
    padding: 10px;
    display: flex;
    width: 100%;
    height: 50px;
}



.principio {
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 text-decoration: none;
}

.ban {
    width: 100%;
}


.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

.navegador {
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

.pv {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.pp {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.s {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

ul {
    list-style: none;
    padding: 0px;
    justify-content: center;
}

.imgpp {
    width: 350px;
    height: 400px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #CBB26A;
    margin: 20px;
  
}

.p {
    color:#CBB26A;
}

.b {
    color: white;
}

.foot{
    background-color: #CBB26A;
    display: flex;
    justify-content: center;
}

.generos{
    color: white;
}

.gen {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #CBB26A;
    margin: 10px;
    padding: 10px;
    width: 45%;
    height: 50px;
    
}

.gene{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;

  }

.gen:hover{
    background-color: aliceblue;
}
.genn{
    font-size: 40px;
    justify-content: center;
    display: flex;
    flex-direction: row;

}


.imgdetalle{
    display: flex;
    justify-content: center;
    width: 350px;
    height: 400px;
    margin-left: 500px;
    margin-right: 500px;
}

.estreno{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    color: #CBB26A;
}

.fav:hover{
    background-color: #CBB26A;
}

/* telefonos */
@media(max-width: 420px) {
    .heather.heather ¨{
    height: 200px;
    }

    .head{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .main{
        padding: 0px;
    }

    .main{
        padding: 0px;
    }

    .peliculasp {
        height: max-content;
        justify-content: center;
        margin: 20px;
    }


    .pp {
        margin-bottom: 20px;
    }

    .pv {
        margin-bottom: 20px;
    }

    .s {
        margin-bottom: 20px;
    }

    .imgpp{
        width: 320px;
        padding: 9px 5px;
    }

    .body {
        padding: 0px 0px;
        margin: 0px;
    }

    .principio {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

    }
    
    .navegador {
        width: 100%;
    }

    .foot {
     
        background-color: (rgb(200, 0, 0));
        text-align: center;
        padding: 0px;
        margin: 20px 0px;
        height: 55px;

    }

}

.con {
    width: 100px;
    display: flex;
    border-radius: 5px;
    font-weight: 800;
    border: solid blue;
    padding: 5px 10px;
}